<div class="footer">

    <div>
        <a href="https://www.instagram.com/a.n.d.r.e.s_b.o.n.i.l.l.a/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://github.com/A-N-D-R-E-S-B-O-N-I-L-L-A" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/andres-bonilla-685983189/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://twitter.com/AndresB64566284" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
    
    <div class="mt-2">
        <h4>by Andres Bonilla</h4>    
    </div>

</div>


