.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    
    padding: 2.4rem 0;
    background-color: black;
    margin-top: 4rem;
    color: white;
    
}


a:first-of-type{
    margin-left: 0;
    font-size: 2rem;
}

a{
    color: white;
    margin-left: 2rem;
    font-size: 2rem;
}

