@media (max-width: 600px) {
    
    #search-part input{
        display: none;
    }

}

.header-home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
}

.search-part{
    display: flex;
    align-items: center;
}

.search-part input{
    margin-left: .8rem;
    padding: .4rem;
    border-top: none;
    border-right: none; 
    border-left: none;
    outline: none;
}

.search-part-movil {
    display: flex;
    align-items: center;
    width: 100%;
}

.search-part-movil input{
    margin-left: .8rem;
    padding: .4rem;
    border-top: none;
    border-right: none; 
    border-left: none;
    outline: none;
    width: 100%;
}


h4{

    font-family: 'Luckiest Guy', cursive;
    font-size: 1.4rem;

}

a, i{
    color: black;
    text-decoration: none;
}