.introduction h2, p{
    text-align: justify;
    line-height: 1.5rem;
}

h2, h3{
    margin-bottom: .8rem;
}


.code-part{
    background-color: #393939;
    color: white;
    padding: 1.8rem 1.5rem;
    font-family: 'Open Sans', sans-serif !important;
    border-radius: .5rem;
    margin-bottom: 2rem;
}

.text-part:first-of-type{
    margin: 2.5rem 0 0 0;
}

.text-part{
    margin: 1.5rem 0;
}
