h1{
    font-family: 'Luckiest Guy', cursive;
    font-size: 4rem;
}

p{
    margin-top: 1.5rem;
    line-height: 1.6rem;
    font-size: 1.1rem;
}

button {
    font-size: 1rem;
    margin-top: 1.5rem;
    padding: 1rem 1.2rem;
    border: none;
    background-color: black;
    border-radius: 10rem;
    color: white;
}

.body-home {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body-home {
    text-align: center;
    padding: 0 20%;
}

