<div class="container">

    <!-- binary search -->
    <app-binary-search-page *ngIf="binarySearchAnimation"></app-binary-search-page>

    <!-- quick sort -->
    <app-quick-sort-page *ngIf="quickSortAnimation"></app-quick-sort-page>

    <!-- depth first search -->
    <app-depth-first-search *ngIf="depthFirstSearch"></app-depth-first-search>

    <!-- breadth first search-->
    <app-breadth-first-search-page *ngIf="breadthFirstSearch"></app-breadth-first-search-page>

    <!-- merge sort-->
    <app-merge-sort-page *ngIf="mergeSort"></app-merge-sort-page>

    
</div>

<app-footer></app-footer>

